@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --headerContentHeight: 40px;
}

html, * {
  box-sizing: border-box;
  font-size: 18px;
  font-family: "Epilogue", Arial, Helvetica, sans-serif;
}

body {
  background-color: hsl(0, 0%, 98%);
  padding: 0px;
  margin: 0px;
  position: relative;
}

header {
  height: 80px;
  display:flex;
  align-items: center;
  padding: 0px 50px;
  justify-content: space-between;
}

header .left {
  display: flex;
  gap: 80px;
  align-items: center;
}

header .left #logo {
  height: 30px;
}

header .left nav {
  display: flex;
  gap: 60px;
  align-items: center;
}

header .left nav {
  list-style: none;
  height: 60px;
}

header .left nav li {
  position: relative;
  color: hsl(0, 0%, 41%);
  cursor: pointer;
}

header .left nav li p {
  display: inline;
}

header .right {
  display: flex;
  gap: 40px;
}

header .menu {
  display: none;
}

button.Login {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

button.Register {
  background-color: white;
  border: 1px solid hsl(0, 0%, 8%);
  padding: 10px 10px;
  border-radius: 10px;
  cursor: pointer;
}

section {
  display: flex;
}

section main {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main h1 {
  font-size: 5rem;
  margin: 40px 0px;
}

main p {
  line-height: 1.5rem;
  margin-bottom: 50px;
  color:hsl(0, 0%, 41%);
}

main button {
  color: hsl(0, 0%, 98%);
  background-color: hsl(0, 0%, 8%);
  border: none;
  padding: 20px 28px;
  border-radius: 13px;
  font-weight: 700;
  border: 1px solid hsl(0, 0%, 8%);

  transition: all 0.3s;
}

main button:active {
  background-color: #fff;
  color: hsl(0, 0%, 8%);
}

main .content .sponsors {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
}

.aside {
  width: 50%;
  display: flex;
  align-items: center;
}

.aside img {
  width: 70%;
}

.dropdown {
  position: absolute;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.10);
  top: 30px;
  left: -90px;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0px;
  padding: 30px 30px;
}

.dd2 {
  left: -40px;
}

.dropdown li {
  display: flex;
  gap: 20px;
  white-space: nowrap;
}

.dropdown li p {
  margin: 0px;
}

header .left nav li:hover {
  color: black;
  font-weight: 400;
}

sidebar {
  z-index: 100;
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  background-color: white;

  transition: width 0.5s;
}

sidebar .sidecontent {
  display: none;
}

sidebar .close{
  width: 35px;
  right: -210px;
  top: 20px;
  position: relative;
}

sidebar nav {
  position: absolute;
  top: 100px;
  left: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

sidebar nav ul {
  margin: 30px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  display: none;
}

sidebar nav p,
sidebar nav ul p {
  font-size: 1.2rem;
}

sidebar nav ul,
sidebar nav{
  list-style: none;
}

sidebar nav p {
  display: inline;
}

sidebar nav button {
  padding: 15px 0px;
  width: 215px;
  border-radius: 20px;
  background-color: #fff;
  cursor: pointer;
}

sidebar nav button.login {
  border: none;
}

sidebar #featside:hover,
sidebar #compside:hover {
  font-weight: 700;
}

.dark-blur {
  background-color: rgba(0, 0, 0, 0.70);
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  opacity: 0;
  display: none;
  transition: all 0.5s;
}

/**MEDIA QUERIES**/
/**MEDIA QUERIES**/
/**MEDIA QUERIES**/

@media screen and (max-width: 1025px) {

  header .left nav {
    gap: 30px;
  }

  section {
    padding: 0px 30px;
    gap: 30px
  }

  section main .content .sponsors {
    justify-content: space-between;
  }

  section main h1 {
    font-size: 4rem;
  }
}

@media screen and (max-width: 769px) {
    header .left nav,
    header .right {
      display: none;
    }

    section main h1 {
      font-size: 3rem;
    }

    section main p {
      font-size: calc(1rem - 3px);
    }

    section .aside img {
      width: 100%;
    }

    header .menu {
      display: block;
    }
}

@media screen and (max-width: 426px) {

  header {
    padding: 20px;
  }

  section {
    flex-direction: column-reverse;
    padding: 30px 0px;
  }

  section main {
    width: 100%;
  }

  section main .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 20px;
  }

  section main .content h1 {
    text-align: center;
    font-size: 3rem;
  }

  section main .content p {
    text-align: center;
    font-size:1rem;
  }

  section main .content .sponsors {
    justify-content: space-around;
  }

  .aside {
    width: 100%;
  }

  .aside img {
    width: 100%;
  }

  header .right {
    display: none;
  }
}